*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

body{
    font: sans-serif;
    font-size: 25px;
   
}

.grid{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 vezes 1fr */
    grid-template-rows: 2fr 1fr;
    gap: 30px;
}

.grid div{
    background: tomato;
    min-height: 100px;
}

.grid div:nth-child(5){
    background-color: darkred;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: span 2/4; /* começa na 2 e termina na 4 */
}